<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

</head>

<body>

    <!-- Start of navbar  -->
    <div class="navigation">
      <nav class="navbar fixed-top navbar-expand-lg navbar-Dark">
          <a class="navbar-brand ml-4"  href="/">Home</a>
          <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  ​
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
             
              <li class="nav-item mr-4">
                  <a class="nav-link" href="/project">Our Project</a>
                </li>
              <li class="nav-item">
          <a class="nav-link" href="/data">Data</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/visualizations">Visualizations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/models">Machine Learning Models</a>
                </li>
            </ul>
          </div>
        </nav>
    </div> 


<div class="w3-container">
  <h2><b><u>Exploratory Data Analysis(EDA)</u></b></h2>

  <img src="Images/Bar chart of Loan Status.png" class="imageNav-photo" alt="Loan Status" style="width:30%">
  <img src="./images/Count of Loan approval by Gender.png" class="w3-round-small" alt="Norway" style="width:30%">
  <img src="./images/Barchart of Education.png" class="w3-round-small" alt="Norway" style="width:30%">
  
  <p><b>30% of loan applicants in the dataset were denined and 70% were approved. Of those that were approved, 85% of those applicants were male. 22% of loan applicants did not graduate.
     There is a correlation between the rate of approval and the penetration of laon applicants who did graduate.</b></p>
  
  
  <img src="./images/Boxplot of Loanstatus depends on ApplicantIncome.png" class="w3-round-small" alt="Loan Status" style="width:30%">
  <img src="./images/Boxplot of Loanstatus depends on LoanAmount.png" class="w3-round-small" alt="Norway" style="width:30%">
  <img src="./images/Boxplot of Education level against ApplicantIncome.png" class="w3-round-small" alt="Norway" style="width:30%">
  <p><b>Our box plot charts helped us to understand where our outliers exist within our dataset and across our correlated metrics. The applicants who graduated 
     do not have a standarized mean and a great range of outliers with where these graduates are positioned with their annual income. There are similarities with where
    the mean falls with our dataset's loan applicant's income and redquested loan amount. The means are similar and outlier range is limited.</b></p>

  <img src="./images/Heatmap.png" class="w3-round-small" alt="Loan Status" style="width:30%">
  <p><b>The heatmap above was used to check for multicollinearity. The heat map does not indicate a high correclation between any of the loan attributes. This indicates no possible problem of the 
    multicollinearity nor a need for further investigation. </b>
  </p>
  
</body>
</html>

​​
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>