<!DOCTYPE html>
<html lang="en-us">
  <head>
​
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
​
    <title> Visualization </title>
​
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
  <link rel="stylesheet" type="text/css" href="style.css">
  
  <style>
    body {
      /* background-color: lightblue */
      background-image: url(https://cdn.hipwallpaper.com/i/54/58/J2YQU0.jpg);
    }
    </style>
​
  </head>
​
  <body>
    <!-- Start of navbar -->
	<div class="navigation">
	  <nav class="navbar fixed-top navbar-expand-lg navbar-Dark">
        <!-- <a class="navbar-brand" href="index.html">Graphs</a> -->
        <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
​
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
           
            <li class="nav-item mr-4">
                <a class="nav-link" href="ourstory.html">Our Story</a>
              </li>
            <li class="nav-item">
			  <a class="nav-link" href="data.html">Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="comparison.html">Visualizations</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Machine Learning Models
                </a>
              </li>
          </ul>
        </div>
      </nav>
	</div>
    <!-- End of navbar -->
​
    <!-- Start of container -->
    <div class="container">
      <section class="row">
        <div>
          <div class="description-content">
            <h1 class="description-header">EDA Graphs</h1>
            <hr>
			
            <div class="container" style="padding-bottom: 40px;">
			  <div class="row">
				<div class="col-lg-12" style="padding: 40px;">
				  <div class="imageNav-header">Bar chart of Loan Status</div>
                 
				    <img src="Images/Bar chart of Loan Status.png" alt="Bar chart of Loan Status", title="Bar chart of Loan Status" class="imageNav-photo">
				  
                </div>
                <div class="col-lg-12" style="padding: 40px;">
                    <div class="imageNav-header">Bar chart of Education</div>
                    
                      <img src="Images/Barchart of Education.png" alt="Bar chart of Education", title="Bar chart of Education" class="imageNav-photo">
                    
                  </div>
                  </div>>
            </div>

                  <div class="container" style="padding-bottom: 40px;">
                    <div class="row">
                  <div class="col-lg-12" style="padding: 40px;">
                    <div class="imageNav-header">Boxplot of Education level against Applicant Income</div>
                    
                      <img src="Images/Boxplot of Education level against ApplicantIncome.png" alt="Boxplot of Education level against Applicant Income", title="Boxplot of Education level against Applicant Income" class="imageNav-photo">
                   
                  </div>
				<div class="col-lg-12" style="padding: 40px;">
				  <div class="imageNav-header">Boxplot of Loan Status depends on Applicant Income</div>
                  
				    <img src="Images/Boxplot of Loanstatus depends on ApplicantIncome.png" alt="Boxplot of Loan Status depends on Applicant Income", title="Boxplot of Loan Status depends on Applicant Income" class="imageNav-photo">
			      
                </div>
                    </div>
                  </div>

                <div class="container" style="padding-bottom: 40px;">
                    <div class="row">
				<div class="col-lg-12" style="padding: 40px;">
                    <div class="imageNav-header">Boxplot of Loan Status depends on Loan Amount</div>
                    
                      <img src="Images/Boxplot of Loanstatus depends on LoanAmount.png" alt="Boxplot of Loan Status depends on Loan Amount", title="Boxplot of Loanstatus depends on LoanAmount" class="imageNav-photo">
                    
                  </div>
                  <div class="col-lg-12" style="padding: 40px;">
                    <div class="imageNav-header">Count of Loan approval by Gender</div>
                    
                      <img src="Images/Count of Loan approval by Gender.png" alt="Count of Loan approval by Gender", title="Count of Loan approval by Gender" class="imageNav-photo">
                   
                  </div>
                    </div>
                </div>

                <div class="container" style="padding-bottom: 40px;">
                    <div class="row">
				<div class="col-lg-12" style="padding: 40px;">
				  <div class="imageNav-header">Heatmap</div>
                  
				    <img src="Images/Heatmap.png" alt="Heatmap", title="Heatmap", class="imageNav-photo">
				 
				</div>
              </div>
			</div>
          </div>
        </div>
        

        </div>
      </section>
    </div>
    <!-- End of container -->
​​
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>