<html>
<head>
<style>
body {
  background-color: lightblue;
}
</style>
</head>
</body>

<h1>Team Devas</h1>
  <h2>Loan Prediction Project</h2>
  <h3>Objective</h3>


  <p>The lending market is a highly competetive market. The whole purpose of the lending industry is to issue loans to borrowers in exchange that they will repay the loan with interest over a stated period of time.
      A lender will only make a profit if a borrower pays off the loan as promised and will lose money if a borrower does not pay back the loan. Determining loan eligibilty of a potential customer can 
      be a very tedious task. With the help of machine learning algorithms, lenders can adopt this techonolgy to help determine loan eligiblity in a quick and easy way. 

    </p>

  <p>The objective of our project is to develop an end to end web application that helps determine the chances of the user on getting approved for a loan</p>

  <article>
    <a target="_blank" href="./assets/images/Alicia.png">
      <img src="./assets/images/Alicia.png" alt="Cloudy Map">
    </a>
    <p><em>Alicia</em></p>
    </article>

  <!-- <img src="assets/images/Alicia.png" alt="Awesome" width="25%"> -->